amqp==2.2.2
arrow==0.12.1
astroid==1.6.1
attrs==17.4.0
billiard==3.5.0.3
binaryornot==0.4.4
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
cookiecutter==1.6.0
cornice==3.0.0
-e git+git@github.com:heron182/countries-api.git@1c07ae4e314cd72f2828748fd383e0859659bdf3#egg=countriesapi
future==0.16.0
hupper==1.0
idna==2.6
isort==4.2.15
Jinja2==2.10
jinja2-time==0.2.0
kombu==4.1.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.2
pluggy==0.6.0
poyo==0.4.1
py==1.5.2
pylint==1.8.2
pyramid==1.9.1
pyramid-celery==3.0.0
pytest==3.3.2
python-dateutil==2.6.1
pytz==2017.3
redis==2.10.6
repoze.lru==0.7
requests==2.18.4
simplejson==3.13.2
six==1.11.0
translationstring==1.3
urllib3==1.22
venusian==1.1.0
vine==1.1.4
waitress==1.4.2
WebOb==1.8.0rc1
whichcraft==0.4.1
wrapt==1.10.11
yapf==0.20.1
zope.deprecation==4.3.0
zope.interface==4.4.3
